extends layout

block content
  h1 Welcome to #[span#room-title #{room.title}]: #[span#room-key #{room.key}]
  p The room owner is #[span#room-owner #{room.owner}]
  p There are #[span#num-users 0] users in rooms
  ul#connected-users

  ul#song-suggestion-list

  h2 Now Playing
  div#now-playing-container
      div#now-playing
        img#now-album-image
        span#now-song Nothing is playing
        span#now-artist
        span#now-album-name

  div#play-controls
    button#play Play Next Song
    button#toggle-play Toggle Play
    //- button#skip-track Skip Track &gt;

  div#queue-container
    h2 Song Queue
    ul#queue
  div.input-group
    label(for='name') Search for a song
    input(id= 'song-search', name='name', type='string', placeholder='Enter track name', autocomplete='off').form-control

    input(name="roomId", type="hidden", value=`${room.id}`)

  div#search-results-container

  a.button(href='/rooms') Back to rooms
  hr
  a.button(href=room.getUrl() + '/suggestion') Get song suggestion

  script(src="/socket.io/socket.io.js")
  script(src="/scripts/rooms.js")
  script(src="/scripts/candidates.js")
  script(src="https://sdk.scdn.co/spotify-player.js")
  script(src="/scripts/spotify.js")
  script.
    var room_id = #{room.id};
    var access_token = !{JSON.stringify(access_token)};
