extends layout

block content
  h1= title
  p Welcome to #{title}
  
  if errors 
    ul
      for error in errors
        li!= error.msg
  
  if results.length > 0
    ul
    each track in results
      li
        a(href=track.preview)
          img(src=track.album_image, alt="")
        a(href=track.preview) #{track.song}
        |  - (#{track.artist})
